<section class="about-container">
  <div class="about-left">
    <div class="about-image">
      <img src="icons/jitendra_1.png" width="400" height="493" alt="Your Name" />
    </div>
  </div>

  <div class="about-right">
    <h2>About Me</h2>
    <p>
      With over <strong>10+ years</strong> of industry experience in software development, I'm eager
      to take on challenging roles in innovative, growth-oriented companies. I'm dedicated to
      delivering exceptional results, taking on increased responsibilities, and driving impactful
      projects.
    </p>

    <h3>Professional Summary</h3>
    <ul>
      <li>Expert in <strong>Microsoft .NET Technologies and Angular2+</strong>.</li>
      <li>
        Proficient in <strong>C#, ASP.NET MVC, ASP.NET Core, and Entity Framework Core</strong>.
      </li>
      <li>
        Skilled in <strong>web development</strong> using Blazor, Razor Pages,React and Angular.
      </li>
      <li>Expert in developing <strong>RESTful Web APIs</strong>.</li>
      <li>
        Hands-on experience with <strong>Azure DevOps</strong> and debugging using Visual Studio.
      </li>
      <li>Committed to continuous learning and staying updated with emerging technologies.</li>
    </ul>

    <h3>Key Skills</h3>
    <ul class="skills">
      <li>C#, ASP.NET MVC, .NET Core</li>
      <li>Angular 2+, React Js JavaScript, TypeScript</li>
      <li>SQL Server, Entity Framework, LINQ</li>
      <li>Azure DevOps, Docker</li>
      <li>Blazor, Razor Pages, Web APIs</li>
    </ul>
  </div>
</section>
