.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to right, #007bff, #00c6ff);
  color: white;
  flex-wrap: wrap;
  h2 {
    margin: 0;
    color: #ffeb3b;
  }
  .contact-left,
  .contact-right {
    flex: 1;
    max-width: 400px;
    text-align: center;
  }

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
  }

  .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    gap: 0.5rem;
    font-size: 1.2rem;
  }

  .social-links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    a {
      color: white;
      text-decoration: none;
      font-size: 2rem;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
